---
title: L'équipe
description: >-
  Nous construisons un outil simple et robuste destiné vous permettre d'organiser votre univers numérique sur le web.
---

<!-- <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p> -->
<ul class="staff">
	{% for person in site.staff_members reversed %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://www.linkedin.com/in/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
	<section>
		<div class="container flex">
			<div class="text ">
<h2>Objectifs</h2>

				<p>Mozaic vous permet d'organiser vos contenus visuellement, trouver et accéder à une ressource en un clic, la partager en deux. </p>
			</div>
			<div class="text ">

<h2>Génèse du projet</h2>
				<p>Mozaic est née d'un besoin : disposer des marque-pages depuis n'importe où, quelque soit le terminal informatique auquel on accède, où le lieu. </p>
				<p>Le véhicule le plus naturel pour bénéficier d'un tel service est une page web unique avec tout présenté sous forme d'icônes rangées dans des dossiers et sous dossiers, accessibles en un clic. </p>
			</div>
		</div>
	</section>
	<section>
		<div class="container flex">
			<div class="text ">

<h2>Code de conduite</h2>
				<p>Mettre à disposition un portail d'entrée à la navigation sur le web pour tous les internautes devant accéder à de multiples ressources sur web. 
				</p><p>Dans une version gratuite qui permet de se construire et gérer son univers numérique et donnant accès à certaines ressources au besoin, proposer des services personnalisés pour améliorer l'accès à l'information sur le web.  </p>
			

			</div>
		</div>
	</section>