---
title: L'équipe
description: >-
  Nous construisons un outil simple et robuste destiné vous permettre d'organiser votre univers numérique sur le web.
---

<!-- <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p> -->
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://www.linkedin.com/in/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
	<section>
		<div class="container flex">
			<div class="text editable">
<h1>Le projet Mozaic</h1>
<h2>Génèse</h2>
<h2>Code de conduite</h2>
<h2>Objectifs</h2>


				<h2>Comment puis-je  <strong>trouver</strong> la meilleure organisation?</h2>
				<p>Mozaic vous permet d'organiser vos contenus visuellement, trouver et accéder à une ressource en un clic, la partager en deux. </p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/organisation-de-l-information-mozaic.png" alt="Organisation avec mozaic" class="screenshot editable" />
			</div>
		</div>
	</section>
