<nav>
  {% assign current_lang = page.lang | default: site.lang %}
  
  {% if current_lang == 'fr' %}
    {% assign url = page.url | replace: '/fr', '' %}
    {% assign next_lang = 'en' %}
  {% else %}
    {% assign url = '/fr' | append: page.url %}
    {% assign next_lang = 'fr' %}
  {% endif %}
  
  {%- comment -%}
    Pages — recherche compatible GitHub Pages
  {%- endcomment -%}

  {% assign samePidPages = site.pages | where_exp: "p", "p.pid == page.pid" %}
  {% assign matchPage = samePidPages | where:"lang", next_lang | first %}
  {% if matchPage %}
    <a class="switch-lang" href="{{ site.baseurl }}{{ matchPage.url }}">{{ next_lang }}</a>
  {% endif %}

  {%- comment -%}
    Posts — recherche compatible GitHub Pages
  {%- endcomment -%}

  {% assign samePidPosts = site.posts | where_exp: "p", "p.pid == page.pid" %}
  {% assign matchPost = samePidPosts | where:"lang", next_lang | first %}
  {% if matchPost %}
    <a class="switch-lang" href="{{ site.baseurl }}{{ matchPost.url }}">{{ next_lang }}</a>
  {% endif %}

  <a class="nav-toggle" id="open-nav" href="#">&#9776;</a>

  {% comment %}
  <a class="editor-link btn" href="cloudcannon&#58;collections/_data/navigation.yml">
    <strong>&#9998;</strong> Edit navigation
  </a>
  {% endcomment %}

  {% for link in site.data.navigation %}
    {% assign class = "" %}
    {% if link.highlight %}
      {% assign class = class | append: " highlight" %}
    {% endif %}
    {% if link[current_lang].link == page.url %}
      {% assign class = class | append: " active" %}
    {% endif %}
    <a href="{% unless link.new_window %}{{ site.baseurl }}{% endunless %}{{ link[current_lang].link }}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link[current_lang].name }}</a>
  {% endfor %}
</nav>